(add-to-list 'load-path "~/.emacs.d/lisp")
(setq library-name/initial-tab-width 2)
(setq library-name/initial-screen-width 150)
(setq library-name/initial-screen-height 50)
(setq library-name/command-key "C")
(setq library-name/indentation-variables '(
  tab-width
  typescript-indent-level
  lisp-indent-level
  js-indent-level
))
(require 'potion-emacs)